<div class="container" id="about">
  <h2>About GSSA Industries</h2>
  <div class="row align-items-center about-content">
      <div class="col-md-6 about-text">
          <p>At GSSA Industries plc, we are dedicated to providing top-notch software development, tech infrastructure solutions, IT consulting, and comprehensive training and support. With a team of experienced professionals, we specialize in delivering innovative, reliable, and scalable technology services that drive growth and efficiency for businesses of all sizes.</p>
          <p>We pride ourselves on our collaborative approach, ensuring that our clients’ needs and goals are always at the forefront of every project. From designing cutting-edge software solutions to ensuring your tech infrastructure is robust and secure, we are here to support your business at every stage of its digital transformation.</p>
          <p>Our mission is simple: to empower businesses through technology. By partnering with us, you’re choosing a team that values innovation, reliability, and client success.</p>
      </div>
      <div class="col-md-6 about-image">
          <img src="assets/clientImages/aabt.jpeg" class="img-fluid" alt="About GSSA Industries">
      </div>
  </div>
</div>

<div class="companies-section">
  <h3>Companies Working With Us</h3>
  <div class="companies-container">
      <div class="company-logos">
          <div class="company">
              <img src="assets/clientImages/mu.png" alt="Company 1 Logo">
          </div>
          <div class="company">
              <img src="assets/clientImages/CBE.png" alt="Company 2 Logo">
          </div>
          <div class="company">
              <img src="assets/clientImages/ethioTelecom.png" alt="Company 3 Logo">
          </div>
          <div class="company">
              <img src="assets/clientImages/EEP.jpeg" alt="Company 5 Logo">
          </div>
          <div class="company">
              <img src="assets/clientImages/etAirline.png" alt="Company 6 Logo">
          </div>
          <div class="company">
              <img src="assets/clientImages/mu.png" alt="Company 4 Logo">
          </div>
          <div class="company">
              <img src="assets/clientImages/CBE.png" alt="Company 2 Logo">
          </div>
          <!-- Add more companies as needed -->
      </div>
  </div>
</div>

<app-client-comment></app-client-comment>
