<div class="testimonials-section">
    <h2>What Companies Say About Us</h2>
    
    <div class="testimonials-container">
      <div class="testimonial">
        <p class="quote">"GSSA Industries has significantly transformed our Wi-Fi infrastructure across all five campuses and upgraded our data center with robust security measures. Their expert team not only implemented these critical enhancements but also provided comprehensive training for our ICT staff, ensuring they are well-equipped to maintain and support the new systems. We are grateful for their dedication and professionalism, which have greatly improved our operational efficiency and connectivity."</p>
        <div class="company-info">
          <img src="assets/clientImages/mu.png" alt="Company Logo 1" class="company-logo">
          <div class="company-details">
            <h4>Mekelle University</h4>
            <p>CEO, ICT Tech</p>
          </div>
        </div>
      </div>
  
      <div class="testimonial">
        <p class="quote">"GSSA Industries has been instrumental in enhancing our fiber infrastructure and delivering high-quality network services. Their expertise in deploying advanced technology has significantly improved our network reliability and capacity. We appreciate their commitment to excellence and their support in helping us provide seamless connectivity to our customers across Ethiopia."</p>
        <div class="company-info">
          <img src="assets/clientImages/ethioTelecom.png" alt="Company Logo 2" class="company-logo">
          <div class="company-details">
            <h4>Ethio Telecom</h4>
            <p>CTO, Business Solutions</p>
          </div>
        </div>
      </div>
  
      <div class="testimonial">
        <p class="quote">"GSSA Industries has been a valuable partner in transforming our banking operations through innovative software solutions and robust cloud services. Their expertise in data center management has enhanced our operational efficiency and security. Thanks to their support, we can now offer our customers a more reliable banking experience while effectively safeguarding their data!"</p>
        <div class="company-info">
          <img src="assets/clientImages/CBE.png" alt="Company Logo 3" class="company-logo">
          <div class="company-details">
            <h4>Commercial Bank of Ethiopia</h4>
            <p>VP, Global Enterprises</p>
          </div>
        </div>
      </div>
    </div>
</div>
