<div class="container" id="blog">
    <h2 class="text-center">Our Blogs</h2>
    <div class="row mt-4">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="assets/clientImages/soft-dev.jpeg" alt="System Design" class="card-img-top tutorial-image">
          <div class="card-body">
            <h3 class="card-title">The Evolution of Software Development: Trends and Best Practices</h3>
            <p class="card-text">In today’s fast-paced digital world, the landscape of software development is continuously evolving.</p>
            <a routerLink="blogs/software-development" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="assets/clientImages/cloud.jpeg" alt="Cloud Computing" class="card-img-top tutorial-image">
          <div class="card-body">
            <h3 class="card-title">What is Cloud Computing?</h3>
            <p class="card-text">Cloud computing refers to the delivery of computing services—such as servers, storage, databases, networking, software, and analytics—over the internet.</p>
            <a routerLink="blogs/cloud" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="assets/clientImages/ntk.jpeg" alt="Networking" class="card-img-top tutorial-image">
          <div class="card-body">
            <h3 class="card-title">Networking Infrastructure: Building the Backbone of Modern Businesses</h3>
            <p class="card-text">In an era where connectivity is paramount, robust networking infrastructure has become the backbone of modern businesses.</p>
            <a routerLink="blogs/networking" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  