<!-- Hero Section -->
<div class="hero text-center d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-4">Welcome to GSSA Industries</h1>
    <p class="lead">Your Trusted Solution Provider</p>
    <button class="btn btn-success" routerLink="/contact">Contact Us</button>
</div>

<!-- Services Section -->
<app-service></app-service>

<!-- About Section -->
<app-about></app-about>

<!-- Tutorials Section -->
<app-Blog></app-Blog>

<!-- Contact Section -->
<app-contactus></app-contactus>
